*.class
*.classpath
*.o
*.d
*.ut
*.pid
*.user
*.sdf
*.suo
*.ncb
*.opensdf
*.o
*.d*
*.filters
*.DS_Store
*.log
*.aps
*.psess
*.vsp
*.pyc
*.project
*.jks
*.apk

bin
output
Debug
Release
ipch
log
CI_Build
.idea